/* EditProduct.css */

.edit-product-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px 20px;
    background-color: #f9f9f9;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.edit-product-container h2 {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
    color: #333;
}
.edit-product-container label {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 10px;
    color: #666;
}

.edit-product-container input {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid#3498db;
    border-radius: 8px;
    font-size: 16px;
}

.edit-product-container textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.edit-product-container img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.edit-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.edit-button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #217dbb;
}

.cancel-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    transition: background-color 0.3s;
}

.cancel-button:hover {
    background-color: #c0392b;
}
