/* ListProduct.css */

.product-list-container-all h2 {
    text-align: center;
    font-size: xx-large;
}
.add-product {
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #35b6e0; /* Sử dụng mã màu hex */
    color: white;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.add-product:hover {
    background-color: rgb(43, 128, 224);
}

.product-list-container {
    text-align: center;
    padding: 0 100px;
}
.product-list-container-button {
    text-align: end;
}
.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.product-item:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.product-image {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    border-radius: 50%;
}

.product-info {
    flex-grow: 1;
    text-align: left;
}

.product-info span {
    display: block;
}

.product-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.product-quantity {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #fb0303;
    margin-top: 5px;
}
.product-price {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
}

/* Trong file CSS của bạn */
/* Trong file CSS của bạn */
.edit-button {
    background-color: #35b6e0; /* Màu nền */
    color: white; /* Màu chữ */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px; /* Kích thước chữ */
    padding: 10px 20px; /* Khoảng cách giữa nút */
    border-radius: 20px;
    font-weight: bold; /* Chữ in đậm */
    margin-right: 10px; /* Khoảng cách với nút bên cạnh */
}

.delete-button {
    background-color: red; /* Màu nền */
    color: white; /* Màu chữ */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px; /* Kích thước chữ */
    border-radius: 20px;
    padding: 10px 20px; /* Khoảng cách giữa nút */
    font-weight: bold; /* Chữ in đậm */
}

/* ListProduct.css */

.pagination {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin-right: 5px;
}

.pagination a {
    color: #35b6e0;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #35b6e0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: rgb(0, 136, 255);
    color: white;
}

.pagination .active a {
    background-color: rgb(0, 136, 255);
    color: white;
    border: 2px solid rgb(0, 136, 255);
}
