.header-container {
    background-color: #35b6e0; /* Sử dụng mã màu hex */
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title {
    margin: 0;
}

.user-icon-container {
    margin-left: auto;

    cursor: pointer;
}
.home-icon {
    margin-left: 30px;
    font-size: 20px;
}
.user-icon {
    font-size: 20px;
}
